n8n/workflows/Agent 2 - IaC Generation Agent.json
{
  "name": "Agent 2 - IaC Generation Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "iac-request",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        256,
        -144
      ],
      "webhookId": "iac-request-trigger",
      "id": "530a918a-13a5-4f19-8085-8cd20d3f60a9"
    },
    {
      "parameters": {
        "functionCode": "// Parse incoming ticket (from GitHub Issues webhook or manual POST)\nconst body = $input.first().json;\n\nconst ticket = {\n  id: body.issue?.number || body.ticketId || 'JIRA-482',\n  title: body.issue?.title || body.title || 'New PostgreSQL DB for ad-analytics service',\n  body: body.issue?.body || body.description || '',\n  requestedBy: body.sender?.login || body.requestedBy || 'prakhar',\n  timestamp: new Date().toISOString()\n};\n\n// Extract resource type from title\nconst lower = ticket.title.toLowerCase();\nlet resourceType = 'generic';\nif (lower.includes('postgres') || lower.includes('database') || lower.includes('db')) resourceType = 'postgresql';\nelse if (lower.includes('s3') || lower.includes('blob') || lower.includes('storage')) resourceType = 'storage';\nelse if (lower.includes('vm') || lower.includes('virtual machine')) resourceType = 'vm';\nelse if (lower.includes('redis') || lower.includes('cache')) resourceType = 'redis';\n\nreturn [{ json: { ...ticket, resourceType } }];"
      },
      "name": "Parse Ticket",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        480,
        -144
      ],
      "id": "b314bcc8-6207-4ccb-94c3-6536dec47852"
    },
    {
      "parameters": {
        "functionCode": "// Generate Terraform based on resource type\nconst data = $input.first().json;\n\nconst templates = {\n  postgresql: `# Auto-generated by IaC Agent | Ticket: ${data.id}\n# Requested by: ${data.requestedBy} | ${data.timestamp}\n\nterraform {\n  required_providers {\n    azurerm = {\n      source  = \"hashicorp/azurerm\"\n      version = \"~>3.0\"\n    }\n  }\n}\n\nprovider \"azurerm\" {\n  features {}\n}\n\nresource \"azurerm_postgresql_flexible_server\" \"main\" {\n  name                   = \"waresmedia-psql-${data.id.toLowerCase().replace(/[^a-z0-9]/g, '-')}\"\n  resource_group_name    = var.resource_group_name\n  location               = var.location\n  version                = \"14\"\n  administrator_login    = var.db_admin_user\n  administrator_password = var.db_admin_password\n  zone                   = \"1\"\n\n  storage_mb = 32768\n\n  sku_name = \"B_Standard_B1ms\"\n\n  tags = {\n    environment = \"production\"\n    team        = \"devops\"\n    ticket      = \"${data.id}\"\n    managed_by  = \"iac-agent\"\n  }\n}\n\nresource \"azurerm_postgresql_flexible_server_database\" \"main\" {\n  name      = \"ad-analytics\"\n  server_id = azurerm_postgresql_flexible_server.main.id\n  collation = \"en_US.utf8\"\n  charset   = \"utf8\"\n}\n\nvariable \"resource_group_name\" { default = \"waresmedia-prod\" }\nvariable \"location\" { default = \"Central India\" }\nvariable \"db_admin_user\" { default = \"dbadmin\" }\nvariable \"db_admin_password\" { sensitive = true }`,\n\n  storage: `# Auto-generated by IaC Agent | Ticket: ${data.id}\n\nresource \"azurerm_storage_account\" \"main\" {\n  name                     = \"waresmedia${data.id.toLowerCase().replace(/[^a-z0-9]/g, '')}\"\n  resource_group_name      = var.resource_group_name\n  location                 = var.location\n  account_tier             = \"Standard\"\n  account_replication_type = \"LRS\"\n\n  tags = {\n    ticket     = \"${data.id}\"\n    managed_by = \"iac-agent\"\n  }\n}`,\n\n  vm: `# Auto-generated by IaC Agent | Ticket: ${data.id}\n\nresource \"azurerm_linux_virtual_machine\" \"main\" {\n  name                = \"waresmedia-vm-${data.id.toLowerCase().replace(/[^a-z0-9]/g, '-')}\"\n  resource_group_name = var.resource_group_name\n  location            = var.location\n  size                = \"Standard_B1s\"\n  admin_username      = \"azureuser\"\n\n  tags = {\n    ticket     = \"${data.id}\"\n    managed_by = \"iac-agent\"\n  }\n}`,\n\n  generic: `# Auto-generated by IaC Agent | Ticket: ${data.id}\n# Resource type could not be auto-detected\n# Please review and complete this template\n\n# TODO: Define your resource here`\n};\n\nconst terraform = templates[data.resourceType] || templates.generic;\n\n// Simulate terraform plan output\nconst planOutput = `Terraform will perform the following actions:\n\n  # azurerm_postgresql_flexible_server.main will be created\n  + resource \"azurerm_postgresql_flexible_server\" \"main\" {\n      + id                   = (known after apply)\n      + name                 = \"waresmedia-psql-${data.id.toLowerCase().replace(/[^a-z0-9]/g, '-')}\"\n      + location             = \"Central India\"\n      + sku_name             = \"B_Standard_B1ms\"\n      + storage_mb           = 32768\n    }\n\nPlan: 2 to add, 0 to change, 0 to destroy.`;\n\nreturn [{ json: { ...data, terraform, planOutput, status: 'awaiting_approval' } }];"
      },
      "name": "Generate Terraform",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        704,
        -144
      ],
      "id": "f34ee4a3-dc9e-4892-9fbc-68e839f0acd0"
    },
    {
      "parameters": {
        "functionCode": "// Write pending approval to Azure Blob so dashboard can read it\nconst data = $input.first().json;\n\nconst approvalRecord = {\n  id: `approval-${data.id}-${Date.now()}`,\n  agentId: 'iac-gen',\n  agentName: 'IaC Generation Agent',\n  ticketId: data.id,\n  ticketTitle: data.title,\n  requestedBy: data.requestedBy,\n  resourceType: data.resourceType,\n  terraform: data.terraform,\n  planOutput: data.planOutput,\n  status: 'pending',\n  createdAt: new Date().toISOString(),\n  approveWebhook: `http://YOUR_VM_IP:5678/webhook/approve-iac`,\n  rejectWebhook: `http://YOUR_VM_IP:5678/webhook/reject-iac`\n};\n\nreturn [{ json: approvalRecord }];"
      },
      "name": "Create Approval Record",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        928,
        -144
      ],
      "id": "6bc7c7fc-387b-4e5e-b2f8-8c90920bc591"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://cloudopsstoragepp.blob.core.windows.net/agent-events/approval-{{$json.id}}-{{$now.toFormat('yyyy-MM-dd-HH-mm-ss')}}.json?sv=2026-02-06&ss=bfqt&srt=sco&sp=rwdlacupiytfx&se=2026-05-23T05:03:57Z&st=2026-05-20T20:48:57Z&spr=https,http&sig=4EAT1ZgOa4iC0Wa120POAclMoOWeDEttGjh2qRmWyJ0%3D",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ms-blob-type",
              "value": "BlockBlob"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "name": "Write Approval to Blob",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1136,
        -144
      ],
      "id": "69f6cb64-b640-4401-bc47-c1dc73af6689",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approve-iac",
        "options": {}
      },
      "name": "Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        256,
        128
      ],
      "webhookId": "approve-iac",
      "id": "f7a8bcd3-2933-4b30-aa73-1c5b60955db7"
    },
    {
      "parameters": {
        "functionCode": "// Simulate terraform apply after approval\nconst incomingData = $input.first().json;\n\n// Extracting from the inner body block safely\nconst webhookBody = incomingData.body || {};\n\nawait new Promise(r => setTimeout(r, 2000));\n\n// Safely pull fields or assign defaults\nconst ticketId = webhookBody.ticketId || \"UNKNOWN-TICKET\";\nconst approvalId = webhookBody.approvalId || \"NO-ID\";\nconst approvedBy = webhookBody.approvedBy || \"prakhar\";\n\n// Formatting string safely\nconst safeTicketString = ticketId.toLowerCase().replace(/[^a-z0-9]/g, '-');\n\nconst applyResult = {\n  approvalId: approvalId,\n  ticketId: ticketId,\n  approvedBy: approvedBy,\n  appliedAt: new Date().toISOString(),\n  status: 'applied',\n  outputs: {\n    db_host: `cloudopsstoragepp-psql-${safeTicketString}.postgres.database.azure.com`,\n    db_name: 'ad-analytics',\n    db_port: 5432,\n    ticketId: ticketId\n  }\n};\n\nreturn [{ json: applyResult }];\n"
      },
      "name": "Apply Terraform",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        480,
        128
      ],
      "id": "5f0e6480-7d6d-4434-86f6-4964e6f7af6a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{$env.SLACK_WEBHOOK_URL}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.slackMessage }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1856,
        -144
      ],
      "id": "7859d40c-f3f7-47bc-a3d6-7fdd50d201b3",
      "name": "Slack message"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1376,
        -368
      ],
      "id": "671b9081-d6aa-41df-b6e1-88d51db2e850",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{$env.SLACK_WEBHOOK_URL}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.slackMessage }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        128
      ],
      "id": "4d1216f5-b6ed-4cbc-be39-603287ca8aca",
      "name": "Slack message1"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\nreturn [{\n  json: {\n    ...data,\n    slackMessage: `Ticket: ${data.ticketId} | Status: ${data.status}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -144
      ],
      "id": "6e6337db-5854-4764-9f79-839868df2af6",
      "name": "Format Slack message"
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\n\nreturn [{\n  json: {\n    ...d,\n    slackMessage:\n`✅ *IaC Agent* | Terraform applied successfully\n> Ticket: ${d.ticketId}\n> Approved by: ${d.approvedBy}\n> DB Host: \\`${d.outputs.db_host}\\`\n> DB: ${d.outputs.db_name} | Port: ${d.outputs.db_port}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        128
      ],
      "id": "1a7027b5-d651-4736-a2e4-0028483b5a3a",
      "name": "Format Slack message1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ticket": {
      "main": [
        [
          {
            "node": "Generate Terraform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Terraform": {
      "main": [
        [
          {
            "node": "Create Approval Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Approval Record": {
      "main": [
        [
          {
            "node": "Write Approval to Blob",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Approval to Blob": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Approval Webhook": {
      "main": [
        [
          {
            "node": "Apply Terraform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Terraform": {
      "main": [
        [
          {
            "node": "Format Slack message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack message": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format Slack message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack message": {
      "main": [
        [
          {
            "node": "Slack message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack message1": {
      "main": [
        [
          {
            "node": "Slack message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8ab853f9-793b-4847-9456-e3a61ebd4493",
  "meta": {
    "instanceId": "9816db8c7bb63753cd92f15fd9f3f60aee53bf1f543678b270324b31d7b5d897"
  },
  "id": "JDfUQknr1Wz0aEsA",
  "tags": []
}