n8n/workflows/Agent 1 - CPU Alert Triage.json
{
  "name": "Agent 1 - CPU Alert Triage",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cpu-alert",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -800,
        32
      ],
      "webhookId": "cpu-alert-trigger",
      "id": "c73322f0-f823-4161-8d9a-633de35a1a1a"
    },
    {
      "parameters": {
        "functionCode": "// Simulate fetching Azure Monitor logs\n// In production: call Azure Log Analytics REST API\nconst alert = $input.first().json;\n\nconst serverName = alert.serverName || 'ad-srv-07';\nconst cpuPercent = alert.cpuPercent || 94;\n\n// Simulate log analysis\nconst logAnalysis = {\n  serverName: serverName,\n  cpuPercent: cpuPercent,\n  topProcess: 'node /app/bidder-service',\n  memUsedMB: 887,\n  memTotalMB: 1024,\n  isOOM: true,\n  safeToRestart: cpuPercent < 99,\n  timestamp: new Date().toISOString(),\n  recommendation: cpuPercent > 90 ? 'restart_service' : 'monitor'\n};\n\nreturn [{ json: logAnalysis }];"
      },
      "name": "Fetch & Analyze Logs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -592,
        32
      ],
      "id": "d671842d-e8e7-42bd-b968-5807a62e3ee6"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.safeToRestart }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Safe to auto-restart?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -368,
        32
      ],
      "id": "58204594-59ba-4f17-ad15-e71b757a58e0"
    },
    {
      "parameters": {
        "functionCode": "// Simulate restarting the service via Azure VM Run Command\n// In production: call Azure REST API:\n// POST /subscriptions/{sub}/resourceGroups/{rg}/providers/Microsoft.Compute/virtualMachines/{vm}/runCommand\n\nconst data = $input.first().json;\n\nawait new Promise(r => setTimeout(r, 1500)); // simulate restart delay\n\nreturn [{\n  json: {\n    ...data,\n    action: 'restarted',\n    restartedAt: new Date().toISOString(),\n    newCpuPercent: Math.floor(Math.random() * 30) + 25,\n    result: 'success'\n  }\n}];"
      },
      "name": "Auto-restart Service",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -144,
        -80
      ],
      "id": "11ee97b8-0c8c-4d4b-b953-82351a67e940"
    },
    {
      "parameters": {
        "functionCode": "const data = $input.first().json;\nreturn [{\n  json: {\n    ...data,\n    action: 'escalated',\n    result: 'needs_human'\n  }\n}];"
      },
      "name": "Escalate to Human",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -144,
        128
      ],
      "id": "e18ced88-d5c0-4f00-bc8b-039d9f5352be"
    },
    {
      "parameters": {
        "functionCode": "const data = $input.first().json;\nconst isFixed = data.action === 'restarted';\n\nconst slackMessage = isFixed\n  ? `✅ *Auto-resolved* | ${data.serverName}\\n> CPU was ${data.cpuPercent}% (OOM in bidder-service)\\n> Service restarted at ${data.restartedAt}\\n> CPU now: ${data.newCpuPercent}%`\n  : `⚠️ *Manual action required* | ${data.serverName}\\n> CPU: ${data.cpuPercent}% — could not safely auto-restart\\n> Please investigate immediately`;\n\nreturn [{\n  json: {\n    ...data,\n    slackMessage,\n    channel: '#cloud-ops'\n  }\n}];"
      },
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        80,
        32
      ],
      "id": "e1080188-4a46-49d6-8a55-635e1ca31c22"
    },
    {
      "parameters": {
        "functionCode": "// Write event log to Azure Blob Storage\n// The HTTP node below will do the actual write\nconst data = $input.first().json;\n\nconst logEntry = {\n  agentId: 'cpu-triage',\n  agentName: 'CPU Alert Triage Agent',\n  timestamp: new Date().toISOString(),\n  trigger: 'azure-monitor-webhook',\n  server: data.serverName,\n  cpuPercent: data.cpuPercent,\n  action: data.action,\n  result: data.result,\n  slackPosted: true\n};\n\nreturn [{ json: logEntry }];"
      },
      "name": "Prepare Log Entry",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        528,
        32
      ],
      "id": "94a108de-025e-4a49-9def-aee916b4083a"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://cloudopsstoragepp.blob.core.windows.net/agent-events/cpu-triage-{{ $now.toFormat('yyyy-MM-dd-HH-mm-ss') }}.json?sv=2026-02-06&ss=bfqt&srt=sco&sp=rwdlacupiytfx&se=2026-05-23T05:03:57Z&st=2026-05-20T20:48:57Z&spr=https,http&sig=4EAT1ZgOa4iC0Wa120POAclMoOWeDEttGjh2qRmWyJ0%3D",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"x-ms-blob-type\": \"BlockBlob\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"event\": \"agent-start\",\n  \"status\": \"success\",\n  \"timestamp\": \"2026-05-21T21:58:21Z\"\n}",
        "options": {}
      },
      "name": "Write to Azure Blob",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        736,
        32
      ],
      "id": "e3618d7f-860e-4bae-8510-fc55794b73a3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{$env.SLACK_WEBHOOK_URL}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.slackMessage }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        32
      ],
      "id": "c40a34c4-783a-47a5-b1ac-6721cd7d311c",
      "name": "Slack message"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch & Analyze Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch & Analyze Logs": {
      "main": [
        [
          {
            "node": "Safe to auto-restart?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safe to auto-restart?": {
      "main": [
        [
          {
            "node": "Auto-restart Service",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate to Human",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-restart Service": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate to Human": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Slack message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log Entry": {
      "main": [
        [
          {
            "node": "Write to Azure Blob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack message": {
      "main": [
        [
          {
            "node": "Prepare Log Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "aa9b5e48-2b2c-4d1c-bfc2-80400b3d1eda",
  "meta": {
    "instanceId": "9816db8c7bb63753cd92f15fd9f3f60aee53bf1f543678b270324b31d7b5d897"
  },
  "id": "PLJGOOyVFyceuwNl",
  "tags": []
}